<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Code & Conquest{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.svg') }}" type="image/svg+xml">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/dashboard.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{ path('app_dashboard') }}" class="header-link">
                <img src="{{ asset('images/favicon.svg') }}" alt="Site Icon">
                <h1>Netrunner Rankings</h1>
            </a>
            <nav>
                <a href="{{ path('api_doc') }}" class="nav-button">API Docs</a>
                <a href="{{ path('app_register') }}" class="nav-button">Register Character</a>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>
        
        {% block javascripts %}
            {{ importmap() }}
        {% endblock %}
    </body>
</html>