{% extends 'base.html.twig' %}

{% block title %}Netrunner Leaderboards{% endblock %}

{% block navigation %}{% endblock %}

{% block body %}
<div class="leaderboard-container">
    <div class="leaderboard">
        <h2>Top Reputation</h2>
        <ol class="leaderboard-list">
            {% for character in byReputation %}
                <li>
                    <span class="rank">#{{ loop.index }}</span>
                    <span class="name">{{ character.characterName }}</span>
                    <span class="score">LVL {{ character.level }}</span>
                </li>
            {% endfor %}
        </ol>
    </div>

    <div class="leaderboard">
        <h2>Top Wealth</h2>
        <ol class="leaderboard-list">
            {% for character in byWealth %}
                 <li>
                    <span class="rank">#{{ loop.index }}</span>
                    <span class="name">{{ character.characterName }}</span>
                    <span class="score">{{ character.gold }} Credits</span>
                </li>
            {% endfor %}
        </ol>
    </div>

    <div class="leaderboard">
        <h2>Top Efficiency</h2>
        <ol class="leaderboard-list">
            {% for character in byEfficiency %}
                 <li>
                    <span class="rank">#{{ loop.index }}</span>
                    <span class="name">{{ character.characterName }}</span>
                    <span class="score">{{ character.redeemedTokens|length }} Missions</span>
                </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}